:root {
    --main-color: #F05423;
  }
  #app #window {
    display: grid;
    gap: 1.5rem;
    padding-block: 1rem;
    width: 95%;
    margin-inline: auto;
  }
  #app #main-menu {
    align-items: center;
    background-color: var(--main-color);
    bottom: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  #app #main-menu i {
    align-items: center;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-size: 1.5rem; 
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    }